
   :host {
     display: block;
     background-color: #fff;
   }

.logo {
  width: 40px;
  height: 40px;
  margin-bottom: 3rem;
}

.card {
  max-width: 450px;
  border: none;
  box-shadow: none;
}

.btn-google {
  border: 1px solid #ddd;
  background: white;
  color: #444;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  padding: 0.75rem;

  img {
    position: absolute;
    left: 1rem;
    width: 20px;
  }
}

.btn-sso {
  border: 1px solid #ddd;
  background: white;
  color: #444;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.btn-signin {
  background-color: #40916c;
  border: none;
  width: 100%;
  padding: 0.75rem;

  &:hover {
    background-color: #2d6a4f;
  }

  &:disabled {
    background-color: #88b5a1;
  }
}

.divider {
  text-align: center;
  margin: 1rem 0;
  color: #666;
}

.form-control {
  padding: 0.75rem;
}

.password-field {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.language-selector {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
